.login-page {
  font-family: 'Inter', sans-serif;
  background-color: #f5f6f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.login-form-section {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.login-header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #2c2c2c;
}

.login-title h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 8px;
  color: #2c2c2c;
}

.login-title p {
  font-size: 16px;
  color: #666;
  margin-bottom: 32px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-form span {
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.login-form input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.password-wrapper {
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding: 12px 45px 12px 12px; 
  border: 1px solid #ccc;
  border-radius: 8px; 
  outline: none;
  transition: border-color 0.3s ease;
}

.eye-icon:hover {
  color: #555; 
}

.login-form button {
  background-color: #7075ff;
  color: #fff;
  font-weight: 600;
  padding: 18px 0; 
  border: none;
  border-radius: 10px;
  font-size: 18px; 
  cursor: pointer;
  width: 100%; 
  max-width: 420px; 
  margin: 20px auto 0 auto; 
  display: block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.login-form button:hover {
  background-color: #5d63ff; /* cor ao passar o mouse */
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(93, 99, 255, 0.3);
}

.login-form button:active {
  transform: translateY(0);
  box-shadow: none;
}
footer {
  margin-top: 40px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.login-background {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuD_UsmqRM9Zuq9Pp-mZfFq4lnKt0S7R9D3vR6bzOww5YoOkKOQ_P5so8DhWf2x2OdsAhJQC_s-AGjhxiAWJSvEIX-jwpdvM_GOxuOHZKs85sM9AgqqD6sIU5HppvSurWU4tn8s8dmTKotvfrBSIDC9QCtvLbCtgK6XyXd2QhY0h7cHompPfxzjYAuGYOXXhRd4c5aGhUg0dRymTvVCHyK1V8i4ngFHyyxgB_0cWeUbUq5uBdwESn5kmZ1TnTp4VnTCbYtNcluYmUZI');
  background-size: cover;
  background-position: center;
}